.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
}

.popers {
  background: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
.child {
  height: 55%;
  width: 30%;
  position: absolute;
  top: 20%;
  left: 35%;
}
.main {
  height: 100vh;
  width: 100%;
}

.todo {
  width: 40%;
  height: 95%;
}
.todo .header select {
  width: 25%;
  background-color: #ecedf6;
}
.todo .header button {
  width: 25%;
}
.task {
  background-color: #ecedf6;
  height: 65%;
  overflow: auto;
  z-index: 0;
}
.task .create-update .remove {
  height: 25%;
}
.checkbox-task {
  box-sizing: border-box;
}
.checkbox-task input {
  width: 7%;
  height: 100%;
}
.inner {
  min-height: 50px;
  max-height: 50px;
  width: 95%;
  background-color: white;
  position: relative;
  box-sizing: border-box;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .todo {
    width: 100%;
    height: 100%;
  }
  .child {
    height: 50%;
    width: 80%;
    position: absolute;
    top: 20%;
    left: 10%;
  }
  .checkbox-task input {
    width: 12%;
    height: 100%;
  }
}
